{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do app</h1>
  <p class="lead">Module 2.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>To-do</h2>
    <ul class="list-group mb-4">
      <!-- List the todo items here -->

      {% for item in list_of_cards %}
      <li>{{item.name}}</li>
      {%endfor%}
    </ul>

    <form action="/add" method="POST">
      <label for="name">Item</label>
      <input type="text" name="name" id="name" required>
      <input type="submit" value="Submit">
    </form>

  </div>
</div>
{% endblock %}