{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do app</h1>
  <p class="lead">Module 2.</p>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/add" method="POST">
      <label for="name">Item</label>
      <input type="text" name="name" id="name" required>
      <input type="submit" value="Submit">
    </form>


    <h2>To-do</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.to_do_items %}
      <li>{{item.name}}</li>
      <form method="POST" action="/into_progress/{{item.id}}">
        <input type="submit" name="Progress" value="Move to progress" data-source="{{item.id}}">
        <input type="hidden" name="Progress_id" value="{{item.id}}">
      </form>
      <form method="POST" action="/into_done/{{item.id}}">
        <input type="submit" name="Done" value="Move to done" data-source="{{item.id}}">
        <input type="hidden" name="Done_id" value="{{item.id}}">
      </form>
      <form method="POST" action="/delete/{{item.id}}">
        <input type="submit" name="Remove" value="Delete">
        <input type="hidden" name="Remove_id" value="{{item.id}}">
      </form>
      {%endfor%}
    </ul>


    <h2>Progress</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.doing_items %}
      <li>{{item.name}}</li>
      <form method="POST" action="/into_todo/{{item.id}}">
        <input type="submit" name="ToDo" value="Move to To-Do" data-source="{{item.id}}">
        <input type="hidden" name="ToDo_id" value="{{item.id}}">
      </form>
      <form method="POST" action="/into_done/{{item.id}}">
        <input type="submit" name="Done" value="Move to done" data-source="{{item.id}}">
        <input type="hidden" name="Done_id" value="{{item.id}}">
      </form>
      <form method="POST" action="/delete/{{item.id}}">
        <input type="submit" name="Remove" value="Delete">
        <input type="hidden" name="Remove_id" value="{{item.id}}">
      </form>
      {%endfor%}
    </ul>


    <h2>Done</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.done_items %}
      <li>{{item.name}}</li>
      <form method="POST" action="/into_todo/{{item.id}}">
        <input type="submit" name="ToDo" value="Move to To-Do" data-source="{{item.id}}">
        <input type="hidden" name="ToDo_id" value="{{item.id}}">
      </form>
      <form method="POST" action="/into_progress/{{item.id}}">
        <input type="submit" name="Progress" value="Move to progress" data-source="{{item.id}}">
        <input type="hidden" name="Progress_id" value="{{item.id}}">
      </form>
      <form method="POST" action="/delete/{{item.id}}">
        <input type="submit" name="Remove" value="Delete">
        <input type="hidden" name="Remove_id" value="{{item.id}}">
      </form>
      {%endfor%}
    </ul>



  </div>
</div>
{% endblock %}